<div class="row">
    <h1>Hard Skills</h1>
    <div class="text-center col-sm-2 col-md-2 col-lg-2">
        <circle-progress
            [percent]="80"
            [radius]="80"
            [imageSrc]="'../../../assets/html5-icon.png'"
            [showImage]="true"
            [imageHeight]="80"
            [imageWidth]="80"
            [showUnits]="false"
            [outerStrokeWidth]="15"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#C7E596'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="500"
        ></circle-progress>
        
    </div>
    <div class="text-center col-sm-2 col-md-2 col-lg-2">
        <circle-progress
            [percent]="80"
            [radius]="80"
            [imageSrc]="'../../../assets/css3-icon.png'"
            [showImage]="true"
            [imageHeight]="80"
            [imageWidth]="80"
            [showUnits]="false"
            [outerStrokeWidth]="15"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#C7E596'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="500"
            [lazy]="true"
        ></circle-progress>
        
    </div>
    <div class="text-center col-sm-2 col-md-2 col-lg-2">
        <circle-progress
            [percent]="80"
            [radius]="80"
            [imageSrc]="'../../../assets/js-icon.png'"
            [showImage]="true"
            [imageHeight]="80"
            [imageWidth]="80"
            [showUnits]="false"
            [outerStrokeWidth]="15"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#C7E596'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="500"
        ></circle-progress>
        
    </div>
    <div class="text-center col-sm-2 col-md-2 col-lg-2">
        <circle-progress
            [percent]="60"
            [radius]="80"
            [imageSrc]="'../../../assets/angular-icon.png'"
            [showImage]="true"
            [imageHeight]="80"
            [imageWidth]="80"
            [showUnits]="false"
            [outerStrokeWidth]="15"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#C7E596'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="500"
        ></circle-progress>
        
    </div>
    <div class="text-center col-sm-2 col-md-2 col-lg-2">
        <circle-progress
            [percent]="60"
            [radius]="80"
            [imageSrc]="'../../../assets/nodejs-icon.png'"
            [showImage]="true"
            [imageHeight]="80"
            [imageWidth]="80"
            [showUnits]="false"
            [outerStrokeWidth]="15"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#C7E596'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="500"
        ></circle-progress>
        
    </div>
    <div class="text-center col-sm-2 col-md-2 col-lg-2">
        <circle-progress
            [percent]="80"
            [radius]="80"
            [imageSrc]="'../../../assets/github-icon.png'"
            [showImage]="true"
            [imageHeight]="80"
            [imageWidth]="80"
            [showUnits]="false"
            [outerStrokeWidth]="15"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#C7E596'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="500"
        ></circle-progress>
        
    </div>
</div>




<div class="row">
    <h1>Soft Skills</h1>
    <div class="text-center col-sm-3 col-md-3 col-lg-3">
        <circle-progress
            [percent]="95"
            [radius]="80"
            [imageSrc]="'../../../assets/comunicacion.png'"
            [showImage]="true"
            [imageHeight]="80"
            [imageWidth]="80"
            [showUnits]="false"
            [outerStrokeWidth]="15"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#C7E596'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="500"
        ></circle-progress>
        <h3>Comunicación</h3>
        
    </div>
    <div class="text-center col-sm-3 col-md-3 col-lg-3">
        <circle-progress
            [percent]="90"
            [radius]="80"
            [imageSrc]="'../../../assets/creatividad.png'"
            [showImage]="true"
            [imageHeight]="80"
            [imageWidth]="80"
            [showUnits]="false"
            [outerStrokeWidth]="15"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#C7E596'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="500"
        ></circle-progress>
        <h3>Creatividad</h3>
    </div>
    <div class="text-center col-sm-3 col-md-3 col-lg-3">
        <circle-progress
            [percent]="90"
            [radius]="80"
            [imageSrc]="'../../../assets/colaboracion.png'"
            [showImage]="true"
            [imageHeight]="80"
            [imageWidth]="80"
            [showUnits]="false"
            [outerStrokeWidth]="15"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#C7E596'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="500"
        ></circle-progress>
        <h3>Trabajo en Equipo</h3>
    </div>
    <div class="text-center col-sm-3 col-md-3 col-lg-3">
        <circle-progress
            [percent]="95"
            [radius]="80"
            [imageSrc]="'../../../assets/gestion de tiempo.png'"
            [showImage]="true"
            [imageHeight]="80"
            [imageWidth]="80"
            [showUnits]="false"
            [outerStrokeWidth]="15"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#C7E596'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="500"
            
        ></circle-progress>
        <h3>Gestión de Tiempo</h3>
    </div>
