<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/FotoPerfil.jpeg" class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Carreras Licia</p>
        <p>Full stack Developer Jr.</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <h1>Acerca de Mí</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. At dolorem eaque, impedit dolorum repudiandae vel! Ipsa fuga laborum cupiditate sint, suscipit exercitationem, dolorum explicabo nam quis quibusdam deserunt, provident ipsam.</p>
    </div>
</div>
