.row {
    padding: 20px;
}

div {
    background: rgb(246, 165, 204);
}

td {
    font-family:cursive;
    font-style: italic;
    color: grey;
}

h1, h2, h3 {
    display: inline;
    font-family:cursive;
    font-style: italic;
    color: grey;
}

p {
    font-family:cursive;
    font-style: italic;
    color: grey;
}