.row {
    background-color: rgb(246, 165, 204);
}

img {
    width: 50%;
    height: 50%;
    margin-left: 20em;
    margin-top: 2em;
    margin-bottom: 2em;
    border-radius: 60px;
    box-shadow: 10px 10px 30px grey;
}

.form-group {
    margin-top: 2em;
    margin-bottom: 2em;
}

button {
    margin-bottom: 2em;
}