.row {
    padding: 20px;
}

div {
    background: rgb(246, 165, 204);
}

h1, h3 {
    display: inline;
    font-family:cursive;
    font-style: italic;
    color: #fefefe;
}

p {
    font-family:cursive;
    font-style: italic;
    color: #fefefe;
}