.gradient-custom {
    /* fallback for old browsers */
    background: #f10985;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgb(235, 10, 141), rgb(242, 186, 225));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(235, 10, 141, 1), #f2bae1)
    }

    .gradient-custom-2 {
        /* fallback for old browsers */
        background: #f10985;
        
        /* Chrome 10-25, Safari 5.1-6 */
        background: -webkit-linear-gradient(to right, #d8363a, #dd3675, #b44593);
        
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background: linear-gradient(to right, #d8363a, #dd3675, #b44593);
        }    