<div class="row">
    <h1>Proyectos Realizados</h1>
    <div class="container">
        <div class="col-sm-12 col-md-7 col-lg-7 texto">
            <h1>Encriptador</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit vel non rem, nostrum culpa quibusdam, assumenda magnam ipsum quidem, ipsam eaque? Aliquid nam possimus ut similique fugiat magnam amet maxime!</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 imagen">
            <img src="../../../assets/Encriptador.png" class="img-fluid img-proyecto">
        </div>
    </div>
    <div class="container">
        <div class="col-sm-12 col-md-7 col-lg-7 texto">
            <h1>Portfolio</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit vel non rem, nostrum culpa quibusdam, assumenda magnam ipsum quidem, ipsam eaque? Aliquid nam possimus ut similique fugiat magnam amet maxime!</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 imagen">
            <img src="../../../assets/PortfolioOracle.png" class="img-fluid img-proyecto">
        </div>

    </div>


</div>
