.row {
    padding: 20px;
    background-color: rgb(249, 217, 232);
}

.container {
    width: auto;
    padding: 5%;
}


.texto, .imagen {
    display: inline-block;

}

.img-proyecto {
    box-shadow: 10px 10px 30px #000000;
    border-radius: 10%;
}