.row {
    padding: 20px;
    background-color: rgb(249, 217, 232);
}

.container {
    width: auto;
    padding: 5%;
}

h1, p {
    font-family:cursive;
    font-style: italic;
    color: grey;
}


.texto, .imagen {
    display: inline-block;

}


.img-proyecto {
    box-shadow: 10px 10px 30px #000000;
    border-radius: 10%;
}

.img-proyecto:hover {
    transform: scale(1.5);
    transition: 0.5s;
}

@media(max-width: 575px) {
    .img-proyecto:hover {
        transform: scale(1.1);
        transition: 0.5s;
    }
}